<launch>
<!--  Launch turtle bot world  -->
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch"> 
   <arg name="world_file" value= "/opt/ros/kinetic/share/turtlebot_gazebo/worlds/corridor.world"/> <!-- otro valor puede ser  "worlds/willowgarage.world"/>  -->
  </include>
 
  <!-- Run gmapping node -->
  <node name = "gmapping" pkg = "gmapping" type="slam_gmapping"  />


<!-- Localization -->
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
  <include file="$(find turtlebot_navigation)/launch/includes/amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
    <arg name="use_map_topic"  value ="true"/>
  </include>

  <!-- Launch rviz -->
  <include file="$(find turtlebot_rviz_launchers)/launch/view_robot.launch"/>
</launch>
